## Human Resources Department Prject

Develop a machine learning solution to predict employee attrition based on historical data, aiming to identify factors influencing employees' decisions to leave the company. The objective is to create a robust predictive model that enables proactive measures for employee retention.

In [1]:
DF_PATH = '../data/processed/HR_Processed.pkl'
DF_SAVE_PATH = '../data/processed/HR_Processed_Engineered.pkl'

#### Importing libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import pickle
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objs as go
import category_encoders as ce

#### Read dataset

In [3]:
df = pd.read_pickle(DF_PATH)
df.sample(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
775,43,No,Travel_Rarely,415,Sales,25,3,Medical,3,Male,...,3,3,1,18,5,3,1,0,0,0
767,37,No,Travel_Rarely,124,Research & Development,3,3,Other,4,Female,...,3,1,0,8,3,2,4,3,0,1
855,37,No,Travel_Rarely,977,Research & Development,1,3,Life Sciences,4,Female,...,3,2,1,14,2,2,14,8,3,11

**What are we going to do?**
* Check correlation between the columns and see if there is anything to delete.
* Save the data to make a model using it.

-------

#### Check correlation between the columns and see if there is anything to delete

In [4]:
df_corr = df.corr()
filtered_value = df_corr[((df_corr > 0.65) & (df_corr < 1.0))
                          | ((df_corr < -0.65) & (df_corr > -1.0))]
filtered_values = filtered_value.stack().dropna()
corr = filtered_values.reset_index()
corr.columns = ['feature_1', 'feature_2', 'corr']
corr['corr'] = np.round(corr['corr'] * 100, 2)
corr

C:\Users\HP\AppData\Local\Temp\ipykernel_4012\4095618.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_corr = df.corr()

               feature_1             feature_2   corr
0                    Age     TotalWorkingYears  68.04
1               JobLevel         MonthlyIncome  95.03
2               JobLevel     TotalWorkingYears  78.22
3          MonthlyIncome              JobLevel  95.03
4          MonthlyIncome     TotalWorkingYears  77.29
5      PercentSalaryHike     PerformanceRating  77.35
6      PerformanceRating     PercentSalaryHike  77.35
7      TotalWorkingYears                   Age  68.04
8      TotalWorkingYears              JobLevel  78.22
9      TotalWorkingYears         MonthlyIncome  77.29
10        YearsAtCompany    YearsInCurrentRole  75.88
11        YearsAtCompany  YearsWithCurrManager  76.92
12    YearsInCurrentRole        YearsAtCompany  75.88
13    YearsInCurrentRole  YearsWithCurrManager  71.44
14  YearsWithCurrManager        YearsAtCompany  76.92
15  YearsWithCurrManager    YearsInCurrentRole  71.44

> **Notes:** First thing to do after checking the correlation between features is to remove: (TotalWorkingYears, JobLevel, PerformanceRaing, YearsAtCompany, YearsInCurrentRole)

In [5]:
cols_to_remove = ['TotalWorkingYears', 'JobLevel', 'PerformanceRating', 'YearsAtCompany', 'YearsInCurrentRole']
df.drop(cols_to_remove, axis=1, inplace=True)
df.shape

(1470, 26)

#### Save the data

In [6]:
df.to_pickle(DF_SAVE_PATH)